@import "../variables";

.nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
  background-color: $white;

  a {
    text-decoration: none;
    color: $black;
  }
}

.logo {
  display: flex;
  align-items: center;

  &-svg {
    fill: $jungle-green;
    width: 40px;
    height: 100%;
  }

  &-text {
    font-family: "ZonaProB";
    color: $jungle-green;
    margin-left: 6px;
    font-size: large;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin: 0 10px;
    font-weight: 800;
    font-size: 14px;
  }
}

.account {
  .auth {
    display: flex;
    justify-content: flex-end;

    &-auth-div {
      display: flex;
      align-items: center;
    }

    &-name {
      margin: 0 10px;
      font-weight: 900;
      font-size: 14px;
    }

    &-img {
      width: 30px;
      height: 30px;
    }
    &-bell {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }

  .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 900;

    &-link {
      margin: 0 16px;
      cursor: pointer;
    }
    &-signup {
      padding: 4px 10px;
      background-color: $jungle-green;
      height: 25px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
    }
  }
}

.in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  p {
    margin: 4px 0;
  }

  form,
  button,
  input {
    width: 100%;
    box-sizing: border-box;
  }

  input:focus {
    border-color: $dark-grey;
    outline: none;
  }

  button:hover {
    cursor: pointer;
  }

  &-div {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 800;
  }
  &-input {
    height: 36px;
    background-color: $light-grey;
    border-radius: 4px;
    padding: 14px;
    font-size: 16px;
    border: 0.5px solid $dark-grey;
    transition: border-color 0.3s ease;
  }

  &-forgot {
    display: flex;
    justify-content: flex-end;
  }

  &-btn {
    background-color: $jungle-green;
    color: $white;
    border: none;
    border-radius: 4px;
    height: 36px;
  }
  &-create {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    span {
      font-weight: 900;
      color: $jungle-green;
    }

    span:hover {
      cursor: pointer;
    }
  }
  &-error {
    color: $error;
  }
}
