@import "./assets/styles/variables";

.box {
  background-color: $charcoal2;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
